* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	background-color: $white;
}

img {
	max-width: 100%;
	height: auto;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: auto;

  @media ($desktop-small) {
    max-width: 1140px;
    padding: 0 32px;
  }
  
  @media ($tablet) {
    width: 100%;
    padding: 0 24px;
  }
  
  @media ($mobile) {
    padding: 0 20px;
	}
}