// Colors
$white: #FFFFFF;
$black: #212353;
$orange: #EEAA12;
$light-orange: #FFBE2D;
$purple: #9C69E2;
$light-purple: #B17FF4;
$grey: #4B5D68;
$pink: #F063B8;

// Размеры
$mobile: "max-width: 767px";
$tablet: "max-width: 992px";
$desktop-small: "max-width: 1440px";
$desktop-only: "min-width: 992px";